body {
  font-family: 'Libre Caslon Text', serif;
  background-color: #f0f1f5
};
a {
  text-decoration: none!important
}
.date {
  font-weight: bold
}
.scoreWinner {
  font-weight: bold
}
.postDate {
  font-style: italic
}