body {
  font-family: 'Libre Caslon Text', serif;
  background-color: #f0f1f5
};

.container {
  border: 20px solid black !important
}

footer {
  position: absolute;
  right: 0;bottom: 0;left: 0;
}

button {
  background-color: #f0f1f5
}